.dropdown-menu li a:hover {
    color: grey;	
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation {
    background: white;
    padding: 0;
    width: 170px;
}

.navi a {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    color: grey;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: grey;
}
.navi .active a {
    background: rgba(255, 255, 255, 0.5);
    border-left: 5px solid rgba(255, 150, 0, 1);
    padding-left: 15px;
}
.navi a:hover {
    background: #d9d9d9 none repeat scroll 0 0;
    border-left: 5px solid rgba(255, 150, 0, 1);
    display: block;
    padding-left: 15px;
}