<style>

@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: -20px;
    bottom: -40px;
    left: calc(50%);
    width: auto;
    height: auto;
    background-image: url(http://casteel-corp.com/wp-content/uploads/2015/04/header_renewable_energy_70.jpg);
    background-size: cover;
}

.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 355px);
}

.header div{
    float: left;
    color: #cc3300;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.header div span{
    color: #cc3300;
}

.login{
    position: absolute;
    top: calc(5%);
    left: calc(50% - 185px);
    height: 150px;
    width: 350px;
    padding: 10px;
}

.container{
    position: absolute;
    width: 280px;
    height: 210px;
    left: calc(50% - 140px);
    top: calc(50% - 100px);
    text-align: center;
    background-color: rgba(204, 242, 255, 0.7);
}

.containerRegister{
    position: absolute;
    width: 280px;
    height: 310px;
    left: calc(50% - 140px);
    top: calc(50% - 100px);
    text-align: center;
    background-color: rgba(204, 242, 255, 0.7);
}

input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: rgb(64, 64, 64);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: rgb(64, 64, 64);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

input[type=button]{
    width: 250px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input [type=button]:hover{
    opacity: 0.8;
}

.login input [type=button]:active{
    opacity: 0.6;
}

.login input [type=text]:focus{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input [type=password]:focus{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input [type=button]:focus{
    outline: none;
}

p {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

</style>